.main {
  display: grid;
  grid-template-columns: 60% 40%;
  min-height: 100vh;
}

.left {
  margin-left: 20px;
  display: grid;
}

.title {
  font-size: 68px;
  margin: 0;
}

.subtitle {
  font-size: 22px;
  display: flex;
  align-items: center;
}

.subtitle>p {
  margin: 0 30px 0 0;
}

.counter {
  display: flex;
}

.image {
  align-self: flex-end;
}

.rightContainer {
  align-self: center;
}

.rightBorder {
  position: absolute;
  border: 6px solid #67ba24;
  border-style: dashed;
  /* margin: 30px; */
  
  z-index: 2;
}

.right {
  width: inherit;
  margin: 30px;
  background-color: #093c5b;
}