.main {
  display: grid;
  grid-template-columns: 60% 40%;
  min-height: 100vh;
}

.left {
  margin-left: 20px;
}

.title {
  font-size: 68px;
  margin: 0;
}

.subtitle {
  font-size: 22px;
  display: flex;
  align-items: center;
}

.subtitle>p {
  margin: 0 30px 0 0;
}

.counter {
  display: flex;
}

.left {
  display: grid;
  grid-template-rows: 3fr 1fr;
}
